<!DOCTYPE html>
<html ng-app="totvsApp">

<head>
    <title>TOTVS | Totvs TNF THF</title>

    <!-- start: Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <meta charset="utf-8">

    <meta name="description" content="TOTVS TNF THF">
    <meta name="keywords" content="totvs">
    <meta name="author" content="totvs">
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- end: Meta -->

    <!-- start: Favicon and Touch Icons -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <!-- end: Favicon and Touch Icons -->

    <link rel="stylesheet" href="js/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="js/libs/famfamfam-flags/dist/sprite/famfamfam-flags.css">
    <link rel="stylesheet" href="js/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="js/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css">

    <link rel="stylesheet" href="js/libs/angular-nestable/lib/jquery.nestable.css">

    <link rel="stylesheet" href="js/libs/AngularJS-Toaster/toaster.min.css">

    <link rel="stylesheet" href="js/libs/angular-ui-select/dist/select.min.css">

    <link rel="stylesheet" href="js/libs/telerik.kendoui/styles/kendo.common-bootstrap.min.css">
    <link rel="stylesheet" href="js/libs/telerik.kendoui/styles/kendo.bootstrap.min.css">

    <link rel="stylesheet" href="js/libs/totvs-html-framework/assets/css/totvs-html-framework.css">

    <link rel="stylesheet" href="assets/css/app.min.css">

    <script>
        var enviroment = {
            DEVELOPMENT: 0,
            RELEASE: 1
        },
            currentEnviroment = (window.location.hostname.indexOf("amazon") === -1) ?
                enviroment.DEVELOPMENT :
                enviroment.RELEASE;
    </script>
</head>

<body ng-cloak>

    <!-- Component TOASTER -->
    <toaster-container toaster-options="{'time-out':3000}"></toaster-container>

    <!-- APP / DESKTOP HTML -->
    <div id="menu-wrapper" class="total-height" style="background-color: #e0e5eA" ng-controller="TotvsDesktopController as desktop">
        <!-- TABS AND OPTIONS -->
        <div>
            <totvs-desktop-tab t-tabs="desktop.tabs" t-options="desktop.options"></totvs-desktop-tab>
        </div>

        <!-- HEADER -->
        <div>
            <totvs-desktop-header t-title="TOTVS" t-informations="desktop.headerInformations"></totvs-desktop-header>
        </div>

        <!-- MENU -->
        <div class="container-fluid total-height" ng-controller="TotvsMenuController as menu">
            <div class="row no-gutter total-height" id="menu-desktop">
                <!-- MENU LATERAL -->
                <div class="col-md-2 col-sm-3 col-xs-4 total-height" id="menu-lateral">
                    <!-- LOGOTIPO -->
                    <div class="menu-block hidden-sm hidden-xs" id="menu-logo">
                        <img ng-src="{{ ::menu.srcLogo }}">
                    </div>

                    <!-- ESTRUTURA DO MENU -->
                    <div class="menu-block disable-select" id="menu-structure">
                        <!-- RECENTES -->
                        <div class="menu-title" ng-click="menu.getRecents()" ng-class="{active: menu.selectedMenuGroup === menu.menuGroups.RECENTS}">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span> &nbsp;{{ ::'recents' | i18n
                            }}
                        </div>

                        <!-- FAVORITOS -->
                        <div class="menu-title" ng-click="menu.getFavorites()" ng-class="{active: menu.selectedMenuGroup === menu.menuGroups.FAVORITES}">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> &nbsp;{{ ::'favorites' | i18n
                            }}
                        </div>

                        <!-- APLICATIVOS -->
                        <div class="menu-title" id="apps" ng-click="menu.loadMenu('apps')" ng-class="{active: menu.selectedMenuGroup === menu.menuGroups.APPLICATIONS}">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> &nbsp;{{ ::'applications'
                            | i18n }}
                        </div>

                        <div id="menu-applications">
                            <div ng-repeat="app in menu.applications | orderBy:'seq'">
                                <div class="menu-group" id="{{app.id}}" ng-click=" menu.loadModules(app)">
                                    {{ ::app.application }}
                                </div>

                                <div id="menu-modules" style="display: none">
                                    <div class="menu-item" id="{{app.codGroupAplicat + '.' + module.codModul}}" title="{{module.module}}" ng-repeat="module in app.modules | orderBy:'seq' track by $index"
                                        ng-click="menu.selectModule(module)" ng-class="{active: module === menu.selectedModule && menu.selectedTipProgram}">
                                        <span class="menu-item-text">{{ module.module }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- PROCESSOS -->
                        <div class="menu-title" id="prcs" ng-click="menu.loadMenu('prcs')" ng-class="{active: menu.selectedMenuGroup === menu.menuGroups.PROCESSES}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;{{ ::'processes' | i18n
                            }}
                        </div>

                        <div id="menu-processes" style="display: none;">
                            <div ng-repeat="prcs in menu.processes track by $index">
                                <div class="menu-item" id="{{prcs.id}}" title="{{prcs.process}}" ng-click="menu.selectProcess(prcs)" ng-class="{active: prcs === menu.selectedProcess && !menu.selectedTipProgram}">
                                    <span class="menu-item-text">{{ prcs.process }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-10 col-sm-9 col-xs-12 total-height" id="menu-workspace">
                    <!-- CONTEÚDO DO MENU -->
                    <div id="menu-contents">
                        <div id="menu-view" ui-view></div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Carga dos arquivos JS -->
    <script src="js/libs/jquery/dist/jquery.min.js"></script>

    <script src="js/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="js/libs/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="js/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>

    <script src="js/libs/angular/angular.min.js"></script>
    <script src="js/libs/angular-scroll/angular-scroll.min.js"></script>
    <script src="js/libs/angular-animate/angular-animate.min.js"></script>
    <script src="js/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="js/libs/angular-hotkeys/build/hotkeys.min.js"></script>
    <script src="js/libs/angular-i18n/angular-locale_pt-br.js"></script>
    <script src="js/libs/angular-nestable/src/angular-nestable.js"></script>
    <script src="js/libs/angular-nestable/lib/jquery.nestable.js"></script>
    <script src="js/libs/angular-resource/angular-resource.min.js"></script>
    <script src="js/libs/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="js/libs/angular-ui-mask/dist/mask.min.js"></script>
    <script src="js/libs/ngMask/dist/ngMask.min.js"></script>
    <script src="js/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="js/libs/angular-ui-select/dist/select.min.js"></script>

    <script src="js/libs/AngularJS-Toaster/toaster.min.js"></script>

    <script src="js/libs/ngDraggable/ngDraggable.js"></script>

    <script src="js/libs/telerik.kendoui/js/kendo.all.min.js"></script>
    <script src="js/libs/telerik.kendoui/js/cultures/kendo.culture.pt.min.js"></script>
    <script src="js/libs/telerik.kendoui/js/cultures/kendo.culture.en.min.js"></script>
    <script src="js/libs/telerik.kendoui/js/cultures/kendo.culture.es.min.js"></script>

    <script src="js/libs/totvs-html-framework/totvs-html-framework.min.js"></script>

    <script src="js/totvs-app.module.js"></script>
    <script src="js/totvs-app.config.js"></script>
    <script src="js/totvs-app.route.js"></script>
    <script src="js/totvs-app.interceptor.js"></script>
    <script src="js/totvs-app.factory.js"></script>

    <!-- Menu Tab -->
    <script src="js/totvs-menu/totvs-menu.module.js"></script>
    <script src="js/totvs-menu/totvs-menu.constant.js"></script>
    <script src="js/totvs-menu/totvs-menu-recents.factory.js"></script>
    <script src="js/totvs-menu/totvs-menu-favorites.factory.js"></script>
    <script src="js/totvs-menu/totvs-menu-programs.factory.js"></script>
    <script src="js/totvs-menu/totvs-menu-processes.factory.js"></script>
    <script src="js/totvs-menu/totvs-menu.controller.js"></script>

    <!-- Desktop -->
    <script src="js/totvs-desktop/totvs-desktop.module.js"></script>
    <script src="js/totvs-desktop/totvs-desktop-view.service.js"></script>
    <script src="js/totvs-desktop/totvs-desktop-tab.service.js"></script>
    <script src="js/totvs-desktop/totvs-desktop-sidebar.service.js"></script>
    <script src="js/totvs-desktop/totvs-desktop.controller.js"></script>
    <script src="js/totvs-desktop/totvs-desktop-header.directive.js"></script>
    <script src="js/totvs-desktop/totvs-desktop-tab.directive.js"></script>

    <!-- President -->
    <script src="js/presidents/presidents.module.js"></script>
    <script src="js/presidents/presidents.route.js"></script>
    <script src="js/presidents/presidents.factory.js"></script>
    <script src="js/presidents/presidents-search.controller.js"></script>
    <script src="js/presidents/presidents-list.controller.js"></script>
    <script src="js/presidents/presidents-detail.controller.js"></script>
    <script src="js/presidents/presidents-edit.controller.js"></script>

    <!-- Country -->
    <script src="js/countries/countries.module.js"></script>
    <script src="js/countries/countries.route.js"></script>
    <script src="js/countries/countries.factory.js"></script>
    <script src="js/countries/countries-search.controller.js"></script>
    <script src="js/countries/countries-list.controller.js"></script>
    <script src="js/countries/countries-detail.controller.js"></script>
    <script src="js/countries/countries-edit.controller.js"></script>

    <!-- Professional -->
    <script src="js/professionals/professionals.module.js"></script>
    <script src="js/professionals/professionals.route.js"></script>
    <script src="js/professionals/professionals.factory.js"></script>
    <script src="js/professionals/professionals-search.controller.js"></script>
    <script src="js/professionals/professionals-list.controller.js"></script>
    <script src="js/professionals/professionals-detail.controller.js"></script>
    <script src="js/professionals/professionals-edit.controller.js"></script>

    <!-- Specialty -->
    <script src="js/specialties/specialties.module.js"></script>
    <script src="js/specialties/specialties.route.js"></script>
    <script src="js/specialties/specialties.factory.js"></script>
    <script src="js/specialties/specialties-search.controller.js"></script>
    <script src="js/specialties/specialties-list.controller.js"></script>
    <script src="js/specialties/specialties-detail.controller.js"></script>
    <script src="js/specialties/specialties-edit.controller.js"></script>
</body>

</html>