/* Color palette */

:root {
    --primary-light-80: #ceeaf2;
    --primary: #0c9abe;
    --primary-dark-20: #097b98;
    --primary-dark-40: #075c72;
    --secondary: #0d729c;
    --secondary-dark-60: #052d3e;
    --tertiary: #29b6c5;
    --white: #ffffff;
    --neutral-light-98: #fbfbfb;
    --neutral-light-90: #eceeee;
    --neutral-light-80: #dadedf;
    --neutral-light-60: #b6bdbf;
    --neutral-light-40: #9da7a9;
    --neutral: #4a5c60;
    --neutral-dark-40: #2c3739;
    --neutral-dark-60: #1d2426;
    --black: #000000;
    --success: #00b28e;
    --warning: #ea9b3e;
    --danger: #c64840;
    --primary-light-95: #f3fafc;
    --black-10: rgba(0, 0, 0, 0.1);
}

@font-face {
    font-family: 'NunitoSans';
    src: url(/NunitoSans-Regular.fb98ed1700e8dfaf0764.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSans-Bold';
    src: url(/NunitoSans-Bold.51066f4d1d33630cd761.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSans-ExtraLight';
    src: url(/NunitoSans-ExtraLight.bc36a8726e20804a94da.ttf);
    font-weight: normal;
    font-style: normal;
}

body, input, label, h1, h2, h3, button, strong {
    font-family: 'NunitoSans';
    font-style: normal;
}

body {
    background-color: #fbfbfb;
    background-color: var(--neutral-light-98);
}

label {
    margin-bottom: 0px;
}

.grey {
    width: 81px;
    height: 24px;
    object-fit: contain;
}

.blue {
    width: 24px;
    height: 24px;
    object-fit: contain;
    background-color: var(--white);
}

.red {
    width: 24px;
    height: 24px;
    object-fit: contain;
    background-color: var(--danger);
}