<div class="container-fluid total-height">
    <div class="row no-gutter total-height" id="menu-desktop">
        <!-- MENU LATERAL -->
        <div class="col-md-2 col-sm-3 col-xs-4 total-height" id="menu-lateral">
            <!-- LOGOTIPO -->
            <div class="menu-block hidden-sm hidden-xs" id="menu-logo">
                 <img ng-src="{{ ::menu.srcLogo }}" >
            </div>

            <!-- ESTRUTURA DO MENU -->
            <div class="menu-block disable-select" id="menu-structure">
                <!-- RECENTES -->
                <div class="menu-title" ng-click="menu.getRecents()"
                    ng-class="{active: menu.selectedMenuGroup === menu.menuGroups.RECENTS}">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    &nbsp;{{ ::'recents' | i18n }}
                </div>

                <!-- FAVORITOS -->
                <div class="menu-title" ng-click="menu.getFavorites()"
                    ng-class="{active: menu.selectedMenuGroup === menu.menuGroups.FAVORITES}">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    &nbsp;{{ ::'favorites' | i18n }}
                </div>

                <!-- APLICATIVOS -->
                <div class="menu-title" id="apps" ng-click="menu.loadMenu('apps')"
                    ng-class="{active: menu.selectedMenuGroup === menu.menuGroups.APPLICATIONS}">
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    &nbsp;{{ ::'applications' | i18n }}
                </div>

                <div id="menu-applications">
                    <div ng-repeat="app in menu.applications | orderBy:'seq'">
                        <div class="menu-group" id="{{app.id}}" ng-click=" menu.loadModules(app)">
                            {{ ::app.application }}
                        </div>

                        <div id="menu-modules" style="display: none">
                            <div class="menu-item" id="{{app.codGroupAplicat + '.' + module.codModul}}"
                                title="{{module.module}}"
                                ng-repeat="module in app.modules | orderBy:'seq' track by $index"
                                ng-click="menu.selectModule(module)"
                                ng-class="{active: module === menu.selectedModule && menu.selectedTipProgram}">
                                <span class="menu-item-text">{{ module.module }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PROCESSOS -->
                <div class="menu-title" id="prcs" ng-click="menu.loadMenu('prcs')"
                    ng-class="{active: menu.selectedMenuGroup === menu.menuGroups.PROCESSES}">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;{{ ::'processes' | i18n }}
                </div>

                <div id="menu-processes" style="display: none;">
                    <div ng-repeat="prcs in menu.processes track by $index">
                        <div class="menu-item" id="{{prcs.id}}" title="{{prcs.process}}"
                            ng-click="menu.selectProcess(prcs)"
                            ng-class="{active: prcs === menu.selectedProcess && !menu.selectedTipProgram}">
                            <span class="menu-item-text">{{ prcs.process }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
