<totvs-page type="edit">

	<totvs-page-navbar>

		<totvs-page-breadcrumb>
            <breadcrumb link="#/">
                <span class="hidden-xs">{{ ::'l-home' | i18n : [] : 'js/professionals' }}</span>
                <span class="glyphicon glyphicon-home hidden-sm hidden-md hidden-lg"></span>
            </breadcrumb>
            <breadcrumb link="#/professionals">
                <span>{{ ::'l-professional' | i18n : [] : 'js/professionals' }}</span>
            </breadcrumb>

			<breadcrumb>{{ controller.professional.professionalId ? 'Edição:' : 'Novo Profissional:' }} {{ controller.professional.name }}</breadcrumb>
		</totvs-page-breadcrumb>

		<totvs-page-header>
			<totvs-page-header-title
                title="{{ controller.professional.professionalId ? controller.professional.name || 'Editando Profissional' : controller.professional.name || 'Novo Profissional' }}"
                placeholder="{{ ::'l-professional' | i18n : [] : 'js/professionals' }}">
			</totvs-page-header-title>

			<totvs-page-header-operation>
				<totvs-page-header-operation-action>
                </totvs-page-header-operation-action>
			</totvs-page-header-operation>
		</totvs-page-header>

	</totvs-page-navbar>

	<totvs-page-content>

        <totvs-page-form name="frmProfessional">

			<fieldset>

				<totvs-field
					totvs-input
					class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
					ng-model="controller.professional.name"
					required
					label="{{ ::'l-name' | i18n : [] : 'js/professionals' }}"
                    focus>
				</totvs-field>

				<totvs-field
					totvs-input
					class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
					ng-model="controller.professional.phone"
					required
					label="{{ ::'l-phone' | i18n : [] : 'js/professionals' }}">
				</totvs-field>

				<totvs-field
					totvs-input
					class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
					ng-model="controller.professional.email"
					required
					label="{{ ::'l-email' | i18n : [] : 'js/professionals' }}">
				</totvs-field>



				<totvs-field
					totvs-input
                    class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                    ng-model="controller.professional.address.zipCode.number"
					required
                    label="{{ ::'l-address-zip' | i18n : [] : 'js/professionals' }}"
                    ui-mask="99999-999">
				</totvs-field>

				<totvs-field
					totvs-input
                    class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                    ng-model="controller.professional.address.street"
					required
                    label="{{ ::'l-address-street' | i18n : [] : 'js/professionals' }}">
				</totvs-field>

				<totvs-field
					totvs-input
                    class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                    ng-model="controller.professional.address.number"
					required
                    label="{{ ::'l-address-number' | i18n : [] : 'js/professionals' }}">
				</totvs-field>

				<totvs-field
					totvs-input
                    class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                    ng-model="controller.professional.address.complement"
					required
                    label="{{ ::'l-address-complement' | i18n : [] : 'js/professionals' }}">
				</totvs-field>



				<totvs-field
					totvs-multi-select
					class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
					ng-model="controller.professional.specialties"
					t-data="controller.specialties"
					t-multi-id="id"
					t-multi-description="description"
					label="{{ ::'l-specialties' | i18n : [] : 'js/professionals' }}">
				</totvs-field>

			</fieldset>

		</totvs-page-form>

	</totvs-page-content>

</totvs-page>
