.hub-message-icon-error {
    font-size: 45px;
    color: #C71111;
}

.hub-message-icon-notification {
    font-size: 45px;
    color: #E2980F;
}

.hub-message-icon-message {
    font-size: 45px;
    color: #075c72;
}

.hub-message-icon-more {
    font-size: 45px;
    color: #2c373a;
}