<totvs-page type="edit">

	<totvs-page-navbar>

		<totvs-page-breadcrumb>
            <breadcrumb link="#/">
                <span class="hidden-xs">{{ ::'l-home' | i18n : [] : 'js/presidents' }}</span>
                <span class="glyphicon glyphicon-home hidden-sm hidden-md hidden-lg"></span>
            </breadcrumb>
            <breadcrumb link="#/presidents">
                <span>{{ ::'l-president' | i18n : [] : 'js/presidents' }}</span>
            </breadcrumb>

			<breadcrumb>{{ controller.president.id ? 'Edição:' : 'Novo cliente:' }} {{ controller.president.name }}</breadcrumb>
		</totvs-page-breadcrumb>

		<totvs-page-header>
			<totvs-page-header-title
                title="{{ controller.president.id ? controller.president.name || 'Editando Presidente' : controller.president.name || 'Novo Presidente' }}"
                placeholder="{{ ::'l-president' | i18n : [] : 'js/presidents' }}">
			</totvs-page-header-title>

			<totvs-page-header-operation>
				<totvs-page-header-operation-action>
                </totvs-page-header-operation-action>
			</totvs-page-header-operation>
		</totvs-page-header>

	</totvs-page-navbar>

	<totvs-page-content>

        <totvs-page-form name="frmPresident">

			<fieldset>

				<totvs-field
					totvs-input
					class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
					ng-model="controller.president.name"
					required
					label="{{ ::'l-name' | i18n : [] : 'js/presidents' }}"
                    focus>
				</totvs-field>

				<totvs-field
					totvs-input
                    class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                    ng-model="controller.president.zipCode.number"
                    label="{{ ::'l-zip-code' | i18n : [] : 'js/presidents' }}"
                    ui-mask="99999-999">
				</totvs-field>

			</fieldset>

		</totvs-page-form>

	</totvs-page-content>

</totvs-page>
